<%- include('../../fragments/headerComputers.ejs')%>
    <main>
        <h2>Edytuj komputer</h2>
        <form class="form" novalidate onsubmit="return validateForm();">
            <label for="model">Model</label>
            <input type="text" name="model" value="Lenovo Legion GL65" id="model" />
            <span id="errorModel" class="errors-text"></span>
            <label for="RAM">RAM</label>
            <input type="number" name="RAM" value="16" id="RAM" />
            <span id="errorRam" class="errors-text"></span>
            <label for="Disc">Dysk</abbr></label>
            <input type="number" name="Disc" value="512" id="Disc" />
            <span id="errorDisc" class="errors-text"></span>
            <label for="Gpu">GPU</label>
            <input type="text" name="Gpu" value="-" id="Gpu" />
            <span id="Gpu" class="errors-text"></span>
            <label for="customer_note">Notatka od klienta</label>
            <input type="text" name="customer_note" value="Nie włącza się" id="customer_note" />
            <span id="errorNote" class="errors-text"></span>
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" value="Edytuj" class="form-buttons-submit" />
            <input type="button" onclick="location.href='computers'" value="Anuluj" class="form-buttons-cancel" />
        </form>
    </main>
    <%- include('../../fragments/footer.ejs')%>