<%- include('../../fragments/headerComputers.ejs')%>
    <main>
        <h2>Dodaj komputer</h2>
        <form class="form" novalidate method="POST" onsubmit="return validateForm();">
            <label for="model">Model<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="model" id="model" placeholder="5 - 30 znaków" />
            <span id="errorModel" class="errors-text"></span>
            <label for="ram">RAM<abbr title="required" aria-label="required">*</abbr></label>
            <input type="number" name="ram" id="ram" placeholder="Wyrażony w GB" />
            <span id="errorRam" class="errors-text"></span>
            <label for="disc">Dysk<abbr title="required" aria-label="required">*</abbr></label>
            <input type="number" name="disc" id="disc" placeholder="Wyrażony w GB" />
            <span id="errorDisc" class="errors-text"></span>
            <label for="gpu">GPU</label>
            <input type="text" name="gpu" id="gpu" />
            <span id="gpu" class="errors-text"></span>
            <label for="customer_note">Notatka od klienta<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="customer_note" id="customer_note" placeholder="10 - 200 znaków" />
            <span id="errorNote" class="errors-text"></span>
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" value="Dodaj" class="form-buttons-submit" />
            <input type="button" onclick="location.href='computers'" value="Anuluj" class="form-buttons-cancel" />
        </form>
    </main>
    <%- include('../../fragments/footer.ejs')%>