<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="application/javascript" src="js/validationCommon.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>Gwarancje</title>
    <style>
        .center {
            width: 40%;
            margin-left: 40%;
        }
    </style>
</head>

<body>
    <header>
        <h1>GWARANCJE.PL</h1>
        <img src="images/service-428539_1280.jpg" alt="LOGO" width="400" height="300">
    </header>
    <h2 style="text-align: center;">Error</h2>
    <p style="text-align: center;">
        <%= error %>
    </p>
    <div class="center">
        <button onclick="location.href='/'">Powrót do strony głównej</button>
    </div>
    <footer>
        Adam, Daniluk, s16578
    </footer>
</body>

</html>