<%- include('./fragments/header.ejs')%>
    <main>
        <h2>Strona główna</h2>
        <p>Witam witam,
            Szybko i sprawnie Dr Rybcia naprawi Twój komputer dzięki super zorganizowanej ekipie specjalistów
        </p>
    </main>
    <%- include('./fragments/footer.ejs')%>