<!DOCTYPE html>
<html lang="pl-PL" style="background-color: #34495e;">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" />
    <title>Logowanie</title>
    <style>
        .login-form {
            width: 300px;
            margin: 0 auto;
            font-family: Tahoma, Geneva, sans-serif;
        }

        .login-form h1 {
            text-align: center;
            color: #4d4d4d;
            font-size: 24px;
            padding: 20px 0 20px 0;
        }

        .login-form input[type="password"],
        .login-form input[type="text"] {
            width: 100%;
            padding: 15px;
            border: 1px solid #dddddd;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        .login-form input[type="submit"] {
            width: 100%;
            padding: 15px;
            background-color: #535b63;
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
        }
    </style>
</head>

<body>
    <% if(!loggedUser) { %>
        <div class="login-form">
            <h1 style="background-color: #8ddf91;">Rejestracja</h1>
            <form method="POST">
                <input type="text" name="login" id="login" placeholder="Twój unikalny login" required>
                <input type="password" name="password" name="password" id="password" placeholder="Twoje hasło" required>
                <input type="submit" value="Zarejestruj" class="form-buttons-submit">
                <span id="loginErrors">
                    <%= loginError ? loginError : '' %>
                </span>
            </form>
        </div>
        <% } else { %>
            <span>Jesteś zalogowany jako: <%= loggedUser.login%></span>
            <a href="../auth/logout">Wyloguj się</a>
            <% } %>
</body>

</html>