<%- include('../../fragments/headerEmployees.ejs')%>
    <main>
        <h2>Szczegóły pracownika</h2>
        <form class="form">

            <label for="firstName">Imie</label>
            <input type="text" name="firstName" value="Zbyszek" id="firstName" disabled />
            <span></span>
            <label for="secondName">Nazwisko</label>
            <input type="text" name="secondName" value="Hajzer" id="secondName" disabled />
            <span></span>
            <label for="role">Stanowisko</label>
            <input type="text" name="role" value="Serwisant" id="role" disabled />
            <span></span>
            <a href="../../employees/edit/1" class="list-actions-button-edit">Edytuj</a>
        </form>
        <h2>Historia serwisów</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Komputer</th>
                    <th>Notatka</th>
                    <th>Status</th>
                    <th>Naprawa rozpoczęta</th>
                    <th>Naprawda zakończona</th>
                    <th>Koszt naprawy</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lenovo G50</td>
                    <td>Słaba bateria</td>
                    <td>W realizacji</td>
                    <td>10/05/2020</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Dell 3650</td>
                    <td>Wymieniony ekran</td>
                    <td>Zakończona</td>
                    <td>03/08/2020</td>
                    <td>15/09/2020</td>
                    <td>600</td>
                </tr>
            </tbody>
        </table>
        <div class="form-buttons">
            <a href="/employees" class="list-actions-button-details">Powrót</a>
        </div>
    </main>
    <%- include('../../fragments/footer.ejs')%>