<%- include('../../fragments/headerEmployees.ejs')%>
    <main>
        <h2>Nowy Pracownik</h2>
        <form class="form" novalidate onsubmit="return validateForm();">
            <label for="firstName">Imie<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="firstName" id="firstName" placeholder="2-30 znaków" />
            <span id="errorFirstName" class="errors-text"></span>
            <label for="secondName">Nazwisko<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="secondName" id="secondName" placeholder="2-30 znaków" />
            <span id="errorSecondName" class="errors-text"></span>
            <label for="role">Stanowisko<abbr title="required" aria-label="required">*</abbr></label>
            <select name="role" id="role">
                <option value="" disabled selected hidden>-- Wybierz stanowisko --</option>
                <option value="Tester">Tester</option>
                <option value="Serwisant">Serwisant</option>
                <option value="Menadzer">Menadzer</option>
                <option value="Serwisant_Junior">Serwisant Junior</option>
            </select>
            <span id="errorRole" class="errors-text"></span>
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" value="Dodaj" class="form-buttons-submit" />
            <input type="button" onclick="location.href='/employees'" value="Anuluj" class="form-buttons-cancel" />
        </form>
    </main>
    <%- include('../../fragments/footer.ejs')%>