<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="application/javascript" src="js/validationCommon.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>Gwarancje</title>
</head>

<body>
    <header>
        <h1>GWARANCJE.PL</h1>
        <img src="images/service-428539_1280.jpg" alt="LOGO" width="400" height="300">
    </header>
    <nav>
        <ul>
            <li><a href="/" class="<%= navLocation == 'main' ? 'active' : ''%>">Strona główna</a></li>
            <% if(loggedUser) { %>
                <li><a href="/employees" class="<%= navLocation == 'emp' ? 'active' : ''%>">Pracownicy</a></li>
                <li><a href="/repairs" class="<%= navLocation == 'rep' ? 'active' : ''%>">Naprawy</a></li>
                <li><a href="/computers" class="<%= navLocation == 'comp' ? 'active' : ''%>">Komputery</a></li>
                <li><a href="/auth/logout">Wyloguj się</a></li>
                <% } else { %>
                    <li><a href="/auth">Logowanie</a></li>
                    <li><a href="/register">Rejestracja</a></li>
                    <% } %>
        </ul>
    </nav>