<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="application/javascript" src="../../js/validationCommon.js"></script>
    <script type="application/javascript" src="../../js/validationEmpForm.js"></script>
    <link rel="stylesheet" href="../../css/style.css" />
    <title>Gwarancje</title>
</head>

<body>
    <header>
        <h1>GWARANCJE.PL</h1>
        <img src="../../images/service-428539_1280.jpg" alt="LOGO" width="400" height="300">
    </header>
    <nav>
        <ul>
            <li><a href="/" class="active">Strona główna</a></li>
            <li><a href="/employees">Pracownicy</a></li>
            <li><a href="/repairs">Naprawy</a></li>
            <li><a href="/computers">Komputery</a></li>
        </ul>
    </nav>